.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
  }
  
.modal-content {
    background-color: #283F4D;
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    min-height: 130px;
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #283F4D;
    padding: 5px;
    padding-right: 10px;
}

.icon {
    color: white;
    font-size: 1.5rem;
}

.navHeading {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    text-decoration: none;
}

.navHeading1 {
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

.profilePicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: all;
}

.userName {
    font-size: 1rem;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

.button {
    padding: 0;
    border: none;
    background: transparent;
    color: white;
    
   
}

.updateProfile {
    text-decoration: none;
    color: white;
}

.appName {
    word-wrap: break-word;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 1.5rem;
}

.horizontalLine {
    width: 80%;
    margin-bottom: 15px;
}