.sidebar-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.sidebar-content {
    background-color: #283f4dc2;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    min-height: 98vh;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(4px);
}

a.notSelected {
    color: white;
    margin: 10px 10px 5px 10px;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    text-decoration: none;
}

a.active {
    background-color: #6491ad;
    color: white;
    width: 90%;
    border-radius: 10px;
    margin: 10px 10px 5px 10px;
    display: flex;
    justify-content: center;
    line-height: 2rem;
    font-weight: 700;
    text-decoration: none;
}