.mainDiv {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    background-color: #283F4D;
    width: 80%;
    border-radius: 15px;
    color: white;
    
}

.icons {
    font-size: 2.5rem;
}